@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} /* reset padrão */ 

body {
    background-image: url('../image/fundo.png');
}

#capa img{
    width: 1100px;
}

#navbar{
    background-color: rgb(210, 210, 192);
    width: 1100px;
    height: 100px;
}


#navbar > ul{
    display: flex;
    list-style: none;
    padding-left: 20px;
    padding-top: 30px;
}

#navbar > ul > li{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

#navbar > ul > li > a{
    text-decoration: none;
    color: rgb(5, 5, 98);
}

.border{
    border-right: 4px solid rgb(5, 5, 98);
    margin-right: 20px;
    padding-right: 20px;
}

#navbar > ul > li > a:hover{
    color: rgb(75, 75, 58);
    transition: 1s;
}

#conteudo-principal{
    background-color: white;
    width: 1100px;
    height: 250px;
}

#sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo-sobre > h1{
    font-size: 20px;
    color: rgb(123, 123, 97); 
    padding: 15px 5px;
}

#sobre > p{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
    padding-left: 10px;
}

#texto-roda-pe{
    background-color: rgb(210, 210, 192);
    width: 1100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#texto > p{
    color: black;
    font-size: 20px;
    font-weight: 600;
}